.header-nav ul {
 font-family: "Oswald", sans-serif;
 text-align: center;
 margin: 0;
 padding: 0;
 /* background-image: url("../../Pictures/kabayan.jpg");
 background-size: cover;
 width: 100%;
 padding: 200px 0;
 margin: 0 auto; */
}

.header-nav li {
  display: inline;
  margin: 20px;
  padding: 20px;

}

.header-nav a {
  color: black;
}

.header-nav a:hover {
  color: blue;
}

.header-nav .logo {
  letter-spacing: 2px;
  font-size: 200%;
}

.jumbotron {
  background-image: url("../../Pictures/julian-hanslmaier-77279.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 500px;
  position: relative;
}

.jumbotron .content cite {
  color: white;
  position: absolute;
  bottom: 0;
  right: 0;
}

.content h2 {
  font-family: "Open Sans Condensed", sans-serif;
  text-align: center;
}
