.container {
  background-color: #edeeef;
}

.container h2 {
  font-family: "Open Sans Condensed", sans-serif;
}

.header-nav ul {
 font-family: "Oswald", sans-serif;
 text-align: center;
 margin: 0;
 padding: 0;
 /* background-image: url("../../Pictures/kabayan.jpg");
 background-size: cover;
 width: 100%;
 padding: 200px 0;
 margin: 0 auto; */
}

.header-nav li {
  display: inline;
  margin: 20px;
  padding: 20px;

}

.header-nav a {
  color: black;
  padding: 5px 5px;
  margin: 5px 5px;
}

.header-nav a:hover {
  text-decoration: none;
  transition: 0.2s;
  color: blue;
}

.header-nav .logo {
  letter-spacing: 2px;
  font-size: 200%;
}

.header-nav .logo a:hover {
  color: black;
}

.jumbotron {
  background-image: url("../../Pictures/julian-hanslmaier-77279.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 500px;
  position: relative;
}

.jumbotron .cite cite {
  color: white;
  position: absolute;
  bottom: 0;
  right: 0;
}

.contact h1 {
  font-family: "Oswald", sans-serif;
}

.fa {
  padding: 20px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 30%;
}

.fa-facebook-square:hover {
    opacity: 0.5;
    transition: 0.5s;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.map {
  position: relative;
  float: right;
  /*display: inline-block;*/
  background-color: #edeeef;
  padding: 5px 10px;
  margin: 5px 10px;
}

.map ul, li {
  position: relative;
  text-align: center;
  list-style: none;
  font-family: "Oswald", sans-serif
}

.footer {
  position: absolute;
  bottom: 0;
  left: 800px;
}
