.contact {
  padding: 0 auto;
  margin: 10px 20px;
}

.contact h1 {
  font-family: "Oswald", sans-serif;
}

.contact small {
  color: black;
}

.container {
  background-color: #edeeef;
}

.container h2 {
  font-family: "Open Sans Condensed", sans-serif;
}

.container-form {
  background-color: #edeeef;
  padding: 10px 20px;
  margin: 20px 30px;
  position: relative;
  left: 100px;
}

.btn-facebook {
  border-radius: 50%;
}

.fa {
  padding: 20px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 80%;
}

.fa-facebook {
    padding:10px 14px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #3B5998;
    color: white;
}
.fa-facebook:hover {
    background-color: black;
}

.footer {
  position: absolute;
  bottom: 0;
  left: 800px;
}

.header-nav {
  background-color: #edeeef;
}

.header-nav ul {
 font-family: "Oswald", sans-serif;
 text-align: center;
 margin: 0;
 padding: 0;
 /* background-image: url("../../Pictures/kabayan.jpg");
 background-size: cover;
 width: 100%;
 padding: 200px 0;
 margin: 0 auto; */
}

.header-nav li {
  display: inline;
  margin: 20px;
  padding: 20px;

}

.header-nav a {
  color: black;
  padding: 5px 5px;
  margin: 5px 5px;
}

.header-nav a:hover {
  text-decoration: none;
  transition: 0.2s;
  color: blue;
}

.header-nav #contact:hover {
  text-decoration: none;
  transition: 0.2s;
  color: #ffcc00;
}

.header-nav .logo {
  letter-spacing: 2px;
  font-size: 200%;
}

.header-nav .logo a:hover {
  color: black;
}

.jumbotron {
  background-image: url("kabayan_header.JPG");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 500px;
  position: relative;
}

.photo-content {
  text-align: center;
  transition: all .2s ease-in-out;
}

.photo-content img {
  border: 1px solid black;
  display: inline-block;
}

.photo-content img:hover {
  transform: scale(1.1);
}

.side-nav {
  position: relative;
  float: right;
  top: 0px;
  /*background-color: #edeeef;*/
  padding: 5px 10px;
  margin: 5px 10px;
  font-family: "Oswald", sans-serif
}

.side-nav #google_map {
    position: relative;
    top: 30px;
}

.side-nav hr {
  position: relative;
  left: -125px;
  width: 50%;
}

.side-nav li {
  position: relative;
  list-style: none;
}
